jax[cuda11_cudnn805]==0.3.10 -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
torch==1.9.0+cu111 -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.10.0+cu111 -f https://download.pytorch.org/whl/torch_stable.html
timm==0.4.12
ftfy==6.1.1
ninja==1.10.2
opensimplex